<ng-template #personalInfoTemplate>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-field">
      <label for="firstName">First Name</label>
      <input
        type="text"
        id="firstName"
        formControlName="firstName"
        [ngClass]="{ invalid: submitted && f['firstName'].errors }"
      />
      @if (submitted && f['firstName'].errors) {
        <div class="error-message">{{ getErrorMessage("firstName") }}</div>
      }
    </div>

    <div class="form-field">
      <label for="lastName">Last Name</label>
      <input
        type="text"
        id="lastName"
        formControlName="lastName"
        [ngClass]="{ invalid: submitted && f['lastName'].errors }"
      />
      @if (submitted && f['lastName'].errors) {
        <div class="error-message">{{ getErrorMessage("lastName") }}</div>
      }
    </div>

    <div class="form-field">
      <label for="age">Age</label>
      <input
        type="number"
        id="age"
        formControlName="age"
        [ngClass]="{ invalid: submitted && f['age'].errors }"
      />
      @if (submitted && f['age'].errors) {
        <div class="error-message">{{ getErrorMessage("age") }}</div>
      }
    </div>

    <div class="form-field">
      <label for="birthDate">Birth Date</label>
      <input
        type="date"
        id="birthDate"
        formControlName="birthDate"
        [ngClass]="{ invalid: submitted && f['birthDate'].errors }"
      />
      @if (submitted && f['birthDate'].errors) {
        <div class="error-message">{{ getErrorMessage("birthDate") }}</div>
      }
    </div>
  </form>
</ng-template>

<ng-template #contactTemplate>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-field">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        [ngClass]="{ invalid: submitted && f['email'].errors }"
      />
      @if (submitted && f['email'].errors) {
        <div class="error-message">{{ getErrorMessage("email") }}</div>
      }
    </div>

    <div class="form-field">
      <label for="phone">Phone Number</label>
      <input
        type="tel"
        id="phone"
        formControlName="phone"
        [ngClass]="{ invalid: submitted && f['phone'].errors }"
      />
      @if (submitted && f['phone'].errors) {
        <div class="error-message">{{ getErrorMessage("phone") }}</div>
      }
    </div>

    <div class="form-field">
      <label for="website">Website (Optional)</label>
      <input
        type="url"
        id="website"
        formControlName="website"
        [ngClass]="{ invalid: submitted && f['website'].errors }"
      />
      @if (submitted && f['website'].errors) {
        <div class="error-message">{{ getErrorMessage("website") }}</div>
      }
    </div>
  </form>
</ng-template>

<ng-template #securityTemplate>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-field">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        formControlName="username"
        [ngClass]="{ invalid: submitted && f['username'].errors }"
      />
      @if (submitted && f['username'].errors) {
        <div class="error-message">{{ getErrorMessage("username") }}</div>
      }
    </div>

    <div class="form-field">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        autocomplete="off"
        [ngClass]="{ invalid: submitted && f['password'].errors }"
      />
      @if (submitted && f['password'].errors) {
        <div class="error-message">{{ getErrorMessage("password") }}</div>
      }
    </div>

    <div class="form-field">
      <label for="confirmPassword">Confirm Password</label>
      <input
        type="password"
        id="confirmPassword"
        autocomplete="off"
        formControlName="confirmPassword"
        [ngClass]="{ invalid: submitted && f['confirmPassword'].errors }"
      />
      @if (submitted && f['confirmPassword'].errors) {
        <div class="error-message">{{ getErrorMessage("confirmPassword") }}</div>
      }
    </div>

    <div class="form-field">
      <label for="otp">OTP (6 digits)</label>
      <input
        type="text"
        id="otp"
        formControlName="otp"
        maxlength="6"
        [ngClass]="{ invalid: submitted && f['otp'].errors }"
      />
      @if (submitted && f['otp'].errors) {
        <div class="error-message">{{ getErrorMessage("otp") }}</div>
      }
    </div>
  </form>
</ng-template>

<ng-template #addressTemplate>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-field">
      <label for="streetAddress">Street Address</label>
      <input
        type="text"
        id="streetAddress"
        formControlName="streetAddress"
        [ngClass]="{ invalid: submitted && f['streetAddress'].errors }"
      />
      @if (submitted && f['streetAddress'].errors) {
        <div class="error-message">{{ getErrorMessage("streetAddress") }}</div>
      }
    </div>

    <div class="form-field">
      <label for="city">City</label>
      <input
        type="text"
        id="city"
        formControlName="city"
        [ngClass]="{ invalid: submitted && f['city'].errors }"
      />
      @if (submitted && f['city'].errors) {
        <div class="error-message">{{ getErrorMessage("city") }}</div>
      }
    </div>

    <div class="form-field">
      <label for="state">State</label>
      <input
        type="text"
        id="state"
        formControlName="state"
        maxlength="2"
        [ngClass]="{ invalid: submitted && f['state'].errors }"
      />
      @if (submitted && f['state'].errors) {
        <div class="error-message">{{ getErrorMessage("state") }}</div>
      }
    </div>

    <div class="form-field">
      <label for="zipCode">ZIP Code</label>
      <input
        type="text"
        id="zipCode"
        formControlName="zipCode"
        [ngClass]="{ invalid: submitted && f['zipCode'].errors }"
      />
      @if (submitted && f['zipCode'].errors) {
        <div class="error-message">{{ getErrorMessage("zipCode") }}</div>
      }
    </div>

    <div class="form-field">
      <label for="coordinates">Coordinates (Optional)</label>
      <input
        type="text"
        id="coordinates"
        formControlName="coordinates"
        placeholder="latitude,longitude"
        [ngClass]="{ invalid: submitted && f['coordinates'].errors }"
      />
      @if (submitted && f['coordinates'].errors) {
        <div class="error-message">{{ getErrorMessage("coordinates") }}</div>
      }
    </div>

    <div class="form-actions">
      <button type="submit">Register</button>
    </div>
  </form>
</ng-template>